
.bundle
.byebug_history

/config/initializers/0*
/config/initializers/action_mailer.rb
/config/master.key

/db/*.sqlite3
/db/*.sqlite3-*

.env*

/log/*
!/log/.keep
/test/dummy/log/*
!/test/dummy/log/.keep

/node_modules

/public/assets
/public/packs
/public/packs-test

/storage/*
!/storage/.keep


/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/config/initializers/0*
/test/dummy/config/initializers/action_mailer.rb

/tmp/*
!/tmp/.keep
/test/dummy/tmp/*
!/test/dummy/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/test/dummy/tmp/pids/*
!/test/dummy/tmp/pids/.keep
*trash

/yarn-error.log
yarn-debug.log*
.yarn-integrity

/vendor/bundle

.DS_Store
