
test/dummy/vendor/bundle
test/dummy/log
test/dummy/tmp
test/dummy/.byebug_history
test/dummy/public/assets

vendor/bundle
node_modules
.DS_Store
*trash
*-old
vendor/bundle
tmp
log

yarn-error.log
shared_modules
