/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
**/

html {
  --iro-color-long: lightseagreen;
  --iro-color-short: orange;

  --iro-color-grid1: #ccc;
  --iro-color-grid2: #999;
  --iro-color-bg1: #efefef;
  --iro-color-bg2: #fefefe;
}

/* body {
  color: red !important;
} */

.iro--main-header {
  li {
    margin-bottom: 0.2em;

    a {
      background: white;
      padding: 0 0.2em;
    }
  }
}


.strategies--show {
  display: none;
}
