
.positions--header {
  position: relative;
  z-index: 1;
}

.positions--table {

  table {
    td {
      text-align: center;
    }
    td.actions,
    td.next_position,
    td.strategy,
    ._ {
      text-align: left;
    }
    th {
      border: 1px solid red;

      > * {
        transform-origin: 0 0;
        // rotate: -40deg;

        padding: .4em 0;
        width: 120px;
      }
    }

    th.begin_price {
      > div {
        background: cyan;
      }
    }

    th.end_delta {
      width: 50px;
    }
    th.next_position {
      width: 160px;
    }
    th.next_symbol {
      width: 120px;
    }

    tr.is-long {
      border-left: 5px solid var(--iro-color-long);
    }
    tr.is-short {
      border-left: 5px solid var(--iro-color-short);
    }

    tr.covered_call {
      .begin-outer-price,
      .end-outer-price,
      .max-gainp,
      .max-loss,
      .outer-strike,
      ._ {
        display: none;
      }
    }

  }
}


