
.positions--prepare {
  .RollGuide {
    height: 100vh;
    border: 1px dashed gray;
    position: absolute;
    right: 0;
    overflow: hidden;
  }
}

.select {
  position: absolute;
  z-index: 5;

  right: -100px;
  text-align: left;
  width: calc(100px - 1em);
}
