
.positions-prepare {
  .RollGuide {
    height: 200vh;
    border: 1px dashed gray;
    position: absolute;
    right: 0;
    overflow: hidden;
  }
  .PositionW.is-short .RollGuide {
    right: auto;
    left: 0;
  }
}

.PositionW .select {
  position: absolute;
  width: calc(100px - 1em);
  z-index: 5;
}
.PositionW.is-long .select {
  left: -100px;
  text-align: right;
}
.PositionW.is-short .select {
  right: -100px;
  text-align: left;
}
