
.purses-gameuiW {
  border: 1px solid #333;
  width: 100%;
  // overflow-x: scroll;
  overflow-y: hidden;
}

.purses-gameui {

  .divider-expiry {
    height: 5px;
    width: 100%;
    background: #333;
  }
  .divider-ticker {
    height: 2px;
    width: 100%;
    background: #333;
    margin-bottom: 20px;
  }

  .Origin::before {
    position: absolute;
    top: -1em;
    content: "";
    margin-left: -1em;
    border: 1em solid transparent;
    border-top: 1em solid #666;
  }
  .Origin {
    position: absolute;
    top: 0;
    // background: rgba(255,255,0, 0.5);
    height: 100%;
    width: 100%;

    > .origin-label {
      // border: 1px solid cyan;

      width: 200px;

      position: absolute;
      top: -1.5em;
      left: 1.2em;
      z-index: 2;

      color: #666;

    }
  }
  .PositionW.covered_call {
    width: 5px;
    background: yellow;
  }
  .PositionW {
    top: 0;
    border: 2px solid black;

    position: absolute;
    height: 100%;

    .Position {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;

      .Quantities {
        // background: rgba(0,0,0, 0.1);

        width: 33%;
        height:  100%;
        position: absolute;

        display: flex;
        justify-content: space-evenly;
        flex-direction: column;

        .item {
          width: 100%;
          border-bottom: 1px solid #333;
        }

      }

    }
  }
  .PositionW.long_credit_put_spread {
    background: linear-gradient(to left, rgba(0,255,255, 0.6), transparent);
    // background: linear-gradient(to left, rgba(0,0,0, 0.5), transparent);
    .Quantities {
      left: 0;
    }
  }
  .PositionW.short_credit_call_spread {
    background: linear-gradient(to right, rgba(0,255,255, 0.5), transparent);
    background: linear-gradient(to right, rgba(0,0,0, 0.5), transparent);
    background: linear-gradient(to right, rgba(236,164,60, 0.6), transparent);
    .Quantities {
      right: 0;
    }
  }
  .reviewing {
    .PositionW {
      border-radius: 10px 10px 0 0;
      height: 90%;
    }
  }

  .MaxGain {
    position: absolute;

    bottom: 0;
    border: 2px dotted #eee;
    border: 2px dotted rgb(61,98,66);
    background: rgba(255,255,255, 0.5);
    background: rgba(61,98,66, 0.5);
    height: 25%;
  }
  .PositionW.is-short .MaxGain {
    left: 0;
  }
  .PositionW.is-long .MaxGain {
    right: 0;
  }

  .sprite {
    position: absolute;
  }
  .sprite-bottom {
    bottom: 0;
  }

  .StockCoordinatesW {
    padding-top: 20px;
    margin-bottom: 2em;

    position: relative;

    z-index: 1;
  }
  .StockCoordinates {
    border-left: 1px solid var(--iro-color-grid1);
    border-bottom: 1px solid var(--iro-color-grid1);

    margin-left: 50%;
    margin-bottom: 0em;

    position: relative;

    .Last {
      border-left: 2px dotted red;
    }

    .marker {
      position: absolute;
      height: 100%;
    }

    .PositionW.is-short {
      .NetNegative {
        // left: 0;
      }
      .NetPositive {
        right: 0;
      }
      .net-label {
        text-align: right;
        left: 0;
        .labelC {
          right: 0.5em;
        }
      }
    }
    .PositionW.is-long {
      .NetNegative {
        // right: 0;
      }
      .NetPositive {
        left: 100%;
      }
      .net-label {
        text-align: left;
        right: 0;
        .labelC {
          left: 0.5em;
        }
      }
    }
    .net-label {
      color: white;
      text-shadow: 2px 2px black;
      width: 0;
      position: absolute;

      .labelC {
        width: 200px;
        position: absolute;
      }
    }
    .Net {
      position: absolute;
      height: 70%;
    }
    .NetNegative {
      background: rgba(255,0,0, 0.75);
    }
    .NetPositive {
      background: rgba(32,164,96, 0.5);
    }

    .grid-mark {
      // border: 1px solid red;

      height: 100%;
      position: absolute;
      top: 0;
      width: 100px;
      z-index: -2;
      border-left: 1px dashed var(--iro-color-grid1);

      .label::before {
        content: "";
        position: absolute;
        left: -1em;
        width: 1em;
        height: 1em;
        border: 1em solid transparent;
        border-left-color: white;
      }
      .label {
        transform: rotate(-45deg);
        transform-origin: center left;

        font-size: 0.8em;

        position: absolute;
        height: 1em;
        line-height: 1em;
        bottom: -0em;
        z-index: -2;
        width: 0;

        .labelC {
          background: white;
          position: absolute;
          bottom: -1em;
          right: 0;
        }
      }
    }


  }

}
