
.summaries {
  display: flex;
}
.purses--summary2 {
  // border: 1px solid yellow;


  .collapse-expand {
    transform-origin: left bottom;
    transform: rotate(90deg);
    width: 0;
  }

  label {
    position: absolute;
  }

  .legendW {
    height: 100px;
    margin-left: 60px;

    display: flex;
  }

  .PurseSummaryW {
    margin-left: 1em;
    width: 500px;
    z-index: 11;
    height: 400px;
    position: relative;
    // background: rgba(255,255,255, 0.75);

  }
  .PurseSummary {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 0;
    border-bottom: 1px solid black;
  }

  /* shared */
  .summary-long, .summary-short {
    // border: 1px solid blue;
    position: absolute;

    display: flex;

    width: 100%;
    // height: 300px;

    .deltaW {
      border: 2px solid black;
      height: 0;
      display: flex;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 110px;

      .delta {
        // border: 2px dashed green;
        width: 20px;

        display: flex;
        align-items: center;

        .begin {
          width: 100%;
          background: rgba(0,0,0, 0.25);
        }
        .end {
          width: 50%;
          // background: rgba(0,0,0, 0.75);
        }

      }
    }

    /* shared */
    .plot {
      background: rgba(255,153,0, 0.5);

      position: relative;

      width: 100px;

      .max-gl {
        width: 100%;
        position: absolute;
        background: rgba(255,255,0, 0.5);
      }
      .net-gl {
        position: absolute;
        width: 90%;
      }
      .gain {
        background: rgba(0,0,0, 0.70);
      }
      .loss {
        background: rgba(255,0,0, 0.5);
      }
    }
  }

  .summary-long {
    top: 0;

    .legendW {
      flex-direction: column;
    }
    .plot {
      bottom: 0;
      .gain {
        bottom: 0;
      }
      .max-gl {
        bottom: 0;
      }
    }
  }

  .summary-short {
    bottom: 0;

    display: flex;
    align-items: flex-end;

    .deltaW {
      left: 140px;
    }
    label {
      bottom: 0;
    }
    .legendW {
      flex-direction: column-reverse;
    }
    .plot {
      background: rgba(255,153,0, 0.5);
      width: 100px;

      .gain {
        top: 0;
      }
      .loss {
        bottom: 0;
      }
    }
  }
}
