


.long-or-short::before {
  // content: '[LONG]';
}
.long-or-short-item,
.long-or-short-container .is_long,
.long-or-short-container .is_short {
  display: flex;
  flex-direction: column;
}

.long-or-short-container .is_long,
.is_long .long-or-short-item {
  border-left: 3px solid var(--iro-color-long);
  padding-left: 5px;
}
.long-or-short-container .is_short,
.is_short .long-or-short-item {
  border-left: 3px solid var(--iro-color-short);
  padding-left: 5px;
}

.is_short .long-or-short-item::before {
  // content: '[SHORT]';
}
.is_short .long-or-short-item,
.long-or-short-container .is_short {
  flex-direction: column-reverse;
}

/* F */

.flex-row {
  display: flex;
  margin-bottom: 0.4em;
}

.floaty-collapse {
  float: left;
  z-index: 5;
  position: relative;
  background: white;
}
.field {
  min-width: 100px;
  margin-right: 1em;
}

/* M */

.modal-absolute {
  border: 1px solid green;
  border-radius: 5px;
  box-shadow: 2px 2px;

  padding: 0.5em;

  position: absolute;

  min-width: 200px;
  width: 400px;

  min-height: 200px;
  height: 300px;
  /* overflow: auto; */

  background: white;

  z-index: 2;

}



/* W */

.w-min-50px {
  min-width: 50px;
}

