


// .long-or-short::before {
//   // content: '[LONG]';
// }
.long-or-short-item,
.long-or-short-container .is-long,
.long-or-short-container .is-short {
  display: flex;
  flex-direction: column;
}

.long-or-short-container .is-long,
.is-long .long-or-short-item {
  border-left: 3px solid var(--iro-color-long);
  padding-left: 5px;
}
.long-or-short-container .is-short,
.is-short .long-or-short-item {
  border-left: 3px solid var(--iro-color-short);
  padding-left: 5px;
}

.is-short .long-or-short-item::before {
  // content: '[SHORT]';
}
.is-short .long-or-short-item,
.long-or-short-container .is-short {
  flex-direction: column-reverse;
}

/* F */

.field {
  min-width: 100px;
  margin-right: 1em;
}

.flex-row {
  display: flex;
  margin-bottom: 0.4em;
}

.floaty-collapse {
  float: left;
  z-index: 5;
  position: relative;
  background: white;
}

/**
 * 2024-05-09
 * label tightly above input
**/
.formrow-v1 {
  display: flex;
  align-items: flex-end;
  label {
    margin-bottom: 0;
  }
  > * {
    margin-right: 0.3em;
  }
}


/* H */

/* M */

.mini-inputs {
  background: rgba(255,255,255, 0.25);
}

.modal-absolute {
  border: 1px solid green;
  border-radius: 5px;
  box-shadow: 2px 2px;

  padding: 0.5em;

  position: absolute;

  min-width: 200px;
  width: 400px;

  min-height: 200px;
  height: 300px;
  /* overflow: auto; */

  background: white;

  z-index: 2;

}

/* P */

table.padded {
  td {
    padding: 0.5em;
  }
}



/* W */


