
/* F */

.flex-row {
  display: flex;
  margin-bottom: 0.4em;
}
.field {
  min-width: 100px;
  margin-right: 1em;
}

/* M */

.modal-absolute {
  border: 1px solid green;
  border-radius: 5px;
  box-shadow: 2px 2px;

  padding: 0.5em;

  position: absolute;

  min-width: 200px;
  width: 400px;

  min-height: 200px;
  height: 300px;
  /* overflow: auto; */

  background: white;

  z-index: 2;

}



/* W */

.w-min-50px {
  min-width: 50px;
}

